@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --first-color: #0059b3;
    --second-color: #70eba7;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: var(--first-color);
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: white;
    width: 98%;
    margin: 5px auto 0;
    border-radius: 5px;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #666;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--first-color);
}

.links a:hover {
    color: var(--first-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms cubic-bezier(1,-0.04, 0.43, 0.84) 0.25s;
}

/* == CARD ==  */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 320px 1fr;

    /* Shadow */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    /* animation */
    animation: up 300ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(17px);
    }
    to {
        opacity: 1;
    }
}

/* Detais */

.details {
    padding: 32px;
}

.details .item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

.details .item:first-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--first-color);
}

.details .item span {
    padding: 8px 16px;;
    background-color: var(--second-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* ==== Form ==== */

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"] {
    padding: 8px 32px;
    background-color: var(--first-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}